* {
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: -4px;
}